.container {
    --margin: 7.5625rem;

    @media (min-width: $breakpoint-widescreen) {
        --margin: 12rem;
    }

    @media (max-width: $breakpoint-desktop) {
        --margin: 7rem;
    }

    @media (max-width: $breakpoint-tablet) {
        --margin: 5rem;
    }

    @media (max-width: $breakpoint-mobile) {
        --margin: 2rem;
    }

    margin-left: var(--margin);
    margin-right: var(--margin);
}