@import "fonts";

* {
    font: normal 16px "IRANSans", sans-serif;
    box-sizing: border-box;


    @media (min-width: $breakpoint-widescreen) {
        font-size: 110%;
    }

    @media (max-width: $breakpoint-desktop) {
        font-size: 90%;
    }

    @media (max-width: $breakpoint-tablet) {
        font-size: 80%;
    }

    @media (max-width: $breakpoint-mobile) {
        font-size: 70%;
    }

}

body {
    background-color: $color-background;
    min-height: 100vh;
    color: white;
    font-size: 1rem;

    &::-webkit-scrollbar {
        width: .5rem;
        background-color: $color-secondary;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $color-primary;
        border-radius: .5rem;
        transition: .3s;

        &:active {
            background-color: black;
        }
    }
}

svg {
    display: block;
}